.hide {
  display: none;
}

.display {
  display: block;
}

.red {
  border: 2px solid red;
}

.inputchecks {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.inputchecks > label::after {
  content: " | ";
}

input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #3cbc8d46;
  color: rgb(67, 67, 67);
  border-radius: 5px;
}

textarea {
  width: 60%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #3cbc8d46;
  color: rgb(67, 67, 67);
  border-radius: 5px;
}

button.adauga {
  width: 20%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #3cbc8d46;
  color: rgb(67, 67, 67);
  border-radius: 5px;
}
