.navigatie {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-self: center;
  align-items: center;
  height: 760px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--step-4);
  font-weight: 220;
  font-family: "Indie Flower", sans-serif;
}

h2,
h3 {
  font-weight: 80;
  font-size: var(--step-1);
  font-family: "Kalam";
}

p {
  font-size: 20px;
  font-family: "Kalam";
}

h4 {
  font-family: "Kalam";
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  .navigatie {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px 2px 0px 2px;
  }
  .navigatie {
    display: none;
  }
  h1 {
    font-size: var(--step-5);
    font-weight: 220;
    font-family: "Indie Flower", sans-serif;
  }
  h2,
  h3 {
    font-weight: 80;
    font-size: var(--step-4);
    font-family: "Kalam";
  }
  p {
    font-size: var(--step-2);
    font-family: "Kalam";
  }
  h4 {
    font-family: "Kalam";
    font-size: 12px;
  }
}
