.title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  animation-duration: 1s;
  animation-name: fadeIn;
  padding-top: 80px;
}

.resurse,
.despre,
.ajutor {
  height: 400px;
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.2);
  margin: 2px solid white;
  width: 370px;
}

.resurse {
  background-color: #e8a0bf;
}

.despre {
  background-color: #c0dbea;
}

.ajutor {
  background-color: #ba90c6;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
  .title {
    padding: max(33vh, 3rem) 5rem;
    /* padding-right: max(3vh, 1rem) 2.5rem;
              padding-top: max(13vh, 1rem) 2.5rem;
              padding-bottom: max(13vh, 1rem) 2.5rem; */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }
  .resurse,
  .despre,
  .ajutor {
    height: 400px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.2);
    margin: 2px solid white;
    width: 300px;
  }
  .resurse {
    background-color: #e8a0bf;
  }
  .despre {
    background-color: #c0dbea;
  }
  .ajutor {
    background-color: #ba90c6;
  }
  .padding {
    padding-top: 15px;
  }
}
