<p>Sorteaza:</p>
<div class="sort">
  <button class="box" (click)="setFilter('tag1')">Scolari</button>
  <button class="box" (click)="setFilter('tag2')">Prescolari</button>
  <button class="box" (click)="setFilter('tag3')">Gimnazial</button>
  <button class="box" (click)="setFilter('')">Resetare Filtru</button>
</div>
<div
  *ngFor="let accordion of accordions"
  [class.hidden]="isFilteredOut(accordion)"
>
  <button
    class="accordion"
    (click)="toggleAccordion(accordion)"
    [disabled]="isFilteredOut(accordion)"
  >
    {{ accordion.title }}
  </button>
  <div [class.open]="accordion.isOpen" class="panel">
    <div class="pre-line">
      <p>{{ accordion.content }}</p>
    </div>
  </div>
</div>

<!-- <div
  *ngFor="let accordion of accordions"
  [class.hidden]="isFilteredOut(accordion)"
>
  <button
    *ngIf="!isFilteredOut(accordion)"
    class="accordion"
    (click)="toggleAccordion(accordion)"
    [disabled]="isFilteredOut(accordion)"
  >
    {{ accordion.title }}
  </button>
  <div *ngIf="accordion.isOpen" class="panel">
    <div class="pre-line">
      <p>{{ accordion.content }}</p>
    </div>
  </div>
</div> -->
