<div class="navigatie">
  <ul>
    <li><a href="index.html">HOME</a></li>
    <li><a href="despre.html">DESPRE NOI</a></li>
    <li class="dropdown">
      <span class="resurse_drop">RESURSE</span>
      <div class="dropdown-content">
        <a [routerLink]="['/jocuri']" style="color: black">Jocuri</a>
        <a [routerLink]="['/cantece']" style="color: black">Cantece</a>
        <a [routerLink]="['/lectii']" style="color: black">Competiții</a>
      </div>
    </li>
    <li>
      <a href="https://chat.whatsapp.com/LPpV4iTnOXA0MN8j0263ST"
        >TE PUTEM AJUTA?</a
      >
    </li>
  </ul>
</div>
<div class="figura">
  <div class="semicerc"></div>
  <div class="nextpage">
    <div class="scris">
      <a routerLink="jocuri">
        <p>Jocuri</p>
      </a>

      <a routerLink="competitii">
        <p style="padding-left: 40px">Competitii</p>
      </a>

      <a routerLink="cantece">
        <p style="padding-left: 40px">Cantece</p>
      </a>
      <a routerLink="lectii">
        <p>Lectii</p>
      </a>
    </div>
  </div>
</div>

<!-- <script></script> -->
