<!DOCTYPE html>
<html>
  <!-- ctrl + d -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style_all_resurses.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Cinzel"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merienda"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Prata&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="navigatie" style="gap: 17vh">
      <a href="resurse.html"> <i class="gg-arrow-left"></i></a>
      <h1 style="animation-name: fade; animation-duration: 3s">Cantece</h1>
    </div>
    <hr />

    <h2 style="margin: 5px; padding: 10px">Sorteaza</h2>

    <div class="sort">
      <button class="box active" onclick="filterSelection('all')">Toate</button>
      <button class="box" onclick="filterSelection('ro')">Romana</button>
      <button class="box" onclick="filterSelection('eng')">Engleza</button>
      <button class="box" onclick="filterSelection('presc')">Prescolari</button>
      <button class="box" onclick="filterSelection('scolari')">Scolari</button>
      <button class="box" onclick="filterSelection('gim')">Gimnaziu</button>
      <button class="box" onclick="filterSelection('lauda')">Lauda</button>
      <button class="box" onclick="filterSelection('vara')">Vara</button>
      <button class="box" onclick="filterSelection('cercetare')">
        Cercetare
      </button>
      <button class="box" onclick="filterSelection('incurajare')">
        Încurajare
      </button>
      <button class="box" onclick="filterSelection('bucurie')">Bucurie</button>
      <button class="box" onclick="filterSelection('rugaciune')">
        Rugaciune
      </button>
      <button class="box" onclick="filterSelection('paste')">Paște</button>
      <button class="box" onclick="filterSelection('dragoste')">
        Dragoste
      </button>
      <button class="box" onclick="filterSelection('multumire')">
        Mulțumire
      </button>
      <button class="box" onclick="filterSelection('craciun')">Crăciun</button>
      <button class="box" onclick="filterSelection('scriptura')">
        Scriptură
      </button>
      <button class="box" onclick="filterSelection('creatie')">Creație</button>
    </div>

    <div class="resurses">
      <div class="filterDiv ro presc lauda vara">
        <button class="accordion">1. Lăudați pe Isus!</button>
        <div class="panel">
          <p>
            /: /:Lăudaţi pe Isus! Lăudaţi pe Isus!<br />
            Cu braţ puternic El domneşte.<br />
            Lăudaţi pe Isus! Lăudaţi pe Isus!<br />
            Suntem poporul ce-l iubeşte:/<br />
            Suntem poporul Celui ce-a înviat<br />
            El este Rege!Isus ne-a salvat<br />
            Şi din nou va spun :/<br />
          </p>
        </div>
      </div>

      <div class="filterDiv ro presc mare lauda">
        <button class="accordion">2. Mare Dumnezeu avem</button>
        <div class="panel">
          <p>
            /: Mare Dumnezeu avem :/<br />
            El e cel mai mare-n putere și-n splendoare, <br />
            Mare Dumnezeu avem. <br />
            <br />
            /: Mare Dumnezeu avem :/<br />
            Îngerii-n lumină, Lui I se închină <br />
            Mare Dumnezeu avem<br />
            <br />
            Isus este Domnul domnilor şi-Mpăratul împăraţilor<br />
            El e cel mai mare-n slavă și-n splendoare, <br />
            Mare Dumnezeu avem. <br />
            <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari vara dragoste">
        <button class="accordion">3. Minunată-i dragostea lui Isus</button>
        <div class="panel">
          <p>
            /: Minunată-i dragostea lui Isus x3<br />
            E cea mai minunată<br />
            <br />
            Prea înaltă n-ajungi până sus<br />
            Prea adâncă n-ajungi până jos<br />
            Prea lată nu poţi s-o cuprinzi<br />
            Dragostea-i minunată :/ <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc vara lauda">
        <button class="accordion">4. Lăudați, copii, pe Domnul</button>
        <div class="panel">
          <p>
            Lăudați, copii,pe Domnul<br />
            Lăudăm ,lăudăm<br />
            Și cântați al Lui sfânt Nume <br />
            Îl cântam , îl cântăm<br />
            <br />
            Câmp cu flori și cer cu stele,<br />
            Fluturași mii și mii,<br />
            Păsări ,roade,toate cele<br />
            Le-a făcut ,El ,copii!<br />
            <br />
            Lăudați, copii,pe Domnul<br />
            Lăudăm ,lăudăm<br />
            Și-nvățați din Cartea sfântă<br />
            Învățăm ,învățăm! <br />
            <br />
            Lăudați, copii,pe Domnul<br />
            Lăudăm ,lăudăm<br />
            Și-ascultați ce El vă cere.<br />
            Ascultăm ,ascultăm!<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari vara incurajare">
        <button class="accordion">5. Dă-i povara ta lui Isus</button>
        <div class="panel">
          <p>
            /: Dă-i povara ta lui Isus<br />
            El o va purta :/ <br />
            <br />
            /: Şi înalţă tot mai sus înalţă<br />
            Şi înalţă numele lui Isus :/ <br />
            <br />
            /: Şi zdrobeşte pe satana<br />
            În picioare jos:/ <br />
            <br />
            /: Vin la Isus cu căință<br />
            El te va ierta. :/ <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari vara incurajare">
        <button class="accordion">6. Toate poverile mele-au căzut</button>
        <div class="panel">
          <p>
            Toate poverile mele-au căzut<br />
            /: Rostogolindu-se :/ <br />
            Toate poverile mele- au căzut<br />
            La crucea lui Isus<br />
            <br />
            Pacea inundă azi inima mea<br />
            /: Inima mea :/ <br />
            Pacea inundă azi inima mea<br />
            Prin crucea lui Isus<br />
            <br />
            Ca un torent bucuria ţâşni<br />
            /:În inima mea :/ <br />
            Ca un torent bucuria ţâşni<br />
            La crucea lui Isus. <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc vara bucurie incurajare">
        <button class="accordion">
          7. Al bucuriei steag flutură în orice zi
        </button>
        <div class="panel">
          <p>
            /: Al bucuriei steag flutură în orice zi,<br />
            Pe castelul inimii, flutură în orice zi.<br />
            Al bucuriei steag flutură în orice zi,<br />
            Pentru că Isus e regele meu.<br />
            <br />
            /: Lasă steagul să fluture acolo sus,<br />
            Toata lumea să-l vadă pe Isus.<br />
            Lasă steagul să fluture pe castel,<br />
            Pentru că Isus e regele meu. :/ :/ <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc vara creatie">
        <button class="accordion">8. Cine a creat stelele pe cer</button>
        <div class="panel">
          <p>
            Cine a creat stelele pe cer, stelele, stelele?<br />
            Cine a creat stelele pe cer? Domnul Dumnezeu.<br />
            <br />
            - Cine a creat păsărea să zboare ....<br />
            - Cine a creat peştele să-noate ...<br />
            - Cine ne-a creat pe noi pe toţi ....<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari gim rugaciune vara">
        <button class="accordion">9. Când mă rog Domnul răspunde, da</button>
        <div class="panel">
          <p>
            3x/:Când mă rog<br />
            Domnul răspunde: Da.<br />
            Uneori El răspunde: aşteaptă,<br />
            Alteori spune:<br />
            Nu, pentru că mă iubeşte.<br />
            Da eu ştiu că El răspunde când mă rog:/ 3x<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc vara cercetare">
        <button class="accordion">
          10. Isus este calea, adevărul şi viaţa
        </button>
        <div class="panel">
          <p>
            Isus este calea, adevărul şi viaţa - 3 ori<br />
            Viaţa, adevărul, Isus este calea.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari bucurie vara">
        <button class="accordion">11. Am bucurie ca fântână</button>
        <div class="panel">
          <p>
            1.Am bucurie ca fântână, am bucurie ca fântână,<br />
            Am bucurie ca fântână în inima mea.<br />
            Am bucurie ca fântână, am bucurie ca fântână,<br />
            Am bucurie ca fântână în inima mea.<br />
            <br />
            2. Am o pace ca o mare ......<br />
            3. Am iubire ca un fluviu ......<br />
            <br />
            DE CE?<br />
            Fiindcă Isus e cu mine - 3 ori<br />
            E-n inima mea.<br />
            <br />
            Fiindcă Isus mă iubeşte - 3 ori<br />
            E-n inima mea.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc bucurie vara">
        <button class="accordion">12. Am bucurie mare bucurie în inima</button>
        <div class="panel">
          <p>
            Am bucurie mare bucurie în inima<br />
            Unde? în inima, unde? în inima.<br />
            Am bucurie mare bucurie în inima.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari lauda vara">
        <button class="accordion">13. Domnul mare e</button>
        <div class="panel">
          <p>
            :/Domnul mare e, puternic şi tare,<br />
            Nimic nu-i prea greu pentru El :/<br />
            Și munţii-s a Lui şi apele toate<br />
            Stelele-s creaţia Sa.<br />
            Domnul mare e, puternic şi tare,<br />
            Nimic nu e prea greu pentru El.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari dragoste vara">
        <button class="accordion">14. Isus iubeşte pe fiecare</button>
        <div class="panel">
          <p>
            Isus iubeşte pe fiecare, pe fiecare, pe fiecare,<br />
            Isus iubeşte pe fiecare,<br />
            Isus iubeşte pe toţi.<br />
            <br />
            Iubeşte copiii, iubeşte părinţii,<br />
            Iubeşte copiii şi iubeşte părinţii.<br />
            Mă iubeşte pe mine,<br />
            Te iubeşte pe tine<br />
            Isus iubeşte pe toţi.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari gim cercetare vara">
        <button class="accordion">15. Calea ce duce sus în ceruri</button>
        <div class="panel">
          <p>
            Calea ce duce sus în ceruri<br />
            Este doar Isus Hristos!<br />
            Calea spre Tatăl, spre bucurie<br />
            Este doar Isus Hristos!<br />
            <br />
            Nici o altă cale,<br />
            Nici o altă cale,<br />
            Nu are omul păcătos.<br />
            Calea ce duce sus în ceruri<br />
            Este doar Isus Hristos!<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari paste">
        <button class="accordion">16. Este viu, este viu</button>
        <div class="panel">
          <p>
            Este viu, este viu, aleluia, Domnul Isus e viu aleluia.<br />
            Sărbătoare e în toată lumea, azi din morţi a-nviat nemurirea.<br />
            Aleluia ....... <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari incurajare vara">
        <button class="accordion">17. În mâna Lui</button>
        <div class="panel">
          <p>
            El ţine universul în mâna Lui,<br />
            El ţine universul în mâna Lui.<br />
            El ţine uinversul în mâna Lui,<br />
            El ţine toate-n mâna Sa.<br />
            <br />
            El ţine şi copiii .....<br />
            El ţine și părinții ....<br />
            El ţine grădiniţa ...<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc dragoste vara">
        <button class="accordion">18. Iubirea lui Isus e aşa de mare</button>
        <div class="panel">
          <p>
            Iubirea lui Isus e aşa de mare, aşa de mare, aşa de mare.<br />
            Iubirea lui Isus e aşa de mare ea este pentru noi.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc incurajare">
        <button class="accordion">19. De e vânt sau de-i furtună</button>
        <div class="panel">
          <p>
            De e vânt sau de-i furtună<br />
            Domnul este-n jurul meu. - Da.<br />
            El e mare eu sunt slab, dar m-ajută ca să cresc. <br />
            De e vânt sau de-i furtună, Domnul este-n jurul meu.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc cercetare vara">
        <button class="accordion">
          20. Ai grijă ochii micuţi unde priveşti
        </button>
        <div class="panel">
          <p>
            Ai grijă ochii micuţi unde priveşti,<br />
            Ai grijă ochii micuţi unde priveşti.<br />
            <br />
            Căci părintele de sus, te priveşte ne-ncetat.<br />
            Ai grijă ochii micuţi unde priveşti.<br />
            <br />
            - Ai grijă gură mică ce vorbeşti ...<br />
            - Ai grijă urechiusă ce asculţi ...<br />
            - Ai grijă mână mică ce lucrezi ...<br />
            - Ai grijă picioruş unde păşeşti ...<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc dragoste vara">
        <button class="accordion">
          21. Fiindc-atât de mult a iubit Dumnezeu lumea
        </button>
        <div class="panel">
          <p>
            Fiindc-atât de mult a iubit Dumnezeu lumea,<br />
            Că a dat pe singurul Lui Fiu,<br />
            Ca oricine crede-n El să nu piară,<br />
            Ci să aibă viaţă veşnică.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc incurajare vara">
        <button class="accordion">22. Eu sunt mic dar Isus</button>
        <div class="panel">
          <p>
            Eu sunt mic dar Isus locuieşte-n viaţa mea<br />
            şi nimeni nu poate să-mi-l ia. - 2 ori<br />
            <br />
            Când privesc în zori o floare ce se-naltă către soare,<br />
            Îl simt cât de bun e Isus.<br />
            Cum că El i-a dat culoare şi lumină de la soare.<br />
            Ce minunat e Isus.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari multumire">
        <button class="accordion">23. O, Doamne bun Părinte</button>
        <div class="panel">
          <p>
            O, Doamne, bun Părinte,<br />
            Aș vrea să-Ți mulțumesc<br />
            De soare, ploaie, pâine<br />
            Ce zilnic le primesc,<br />
            De harul Tău cel mare,<br />
            De sângele-Ți vărsat<br />
            Curat prin El cu Tine<br />
            Trăi-voi ne-ncetat.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari gim craciun">
        <button class="accordion">24. Într-un sat ne-nsemnat</button>
        <div class="panel">
          <p>
            Într-un sat ne-nsemnat din Iudeea,<br />
            Într-o iesle din Betleem<br />
            S-a născut aşteptatul Mesia <br />
            Să-i cântăm cu îngerii în cor.<br />
            <br />
            Refren: Cânt Osana, cânt Osana, cânt Osana rege al regilor.<br />
            Cânt Osana, cânt Osana, cânt Osana regelui.<br />
            <br />
            Părăsiţi turma voastră-n câmpie,<br />
            Alergaţi umiliţi la El.<br />
            El este singura bucurie<br />
            Pentru prinţ şi pentru cerşetor.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro presc scolari craciun">
        <button class="accordion">25. Isus, Nume Preaiubit</button>
        <div class="panel">
          <p>
            Isus, Nume Preaiubit, Mântuitor Sfânt,<br />
            Din ceruri coborât.<br />
            Emanuel, Fiul Lui Dumnezeu,<br />
            Tu eşti Mesia,<br />
            Eşti Domnul meu!<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim incurajare vara">
        <button class="accordion">26. Fiecare zi îmi place s-o trăiesc</button>
        <div class="panel">
          <p>
            Fiecare zi îmi place s-o trăiesc<br />
            Cu dorința de a ajuta,<br />
            Iar atunci cand mi se pare că e greu,<br />
            Îmi amintesc versetul minunat<br />
            <br />
            /: Pot, pot, pot, eu pot totul în Cristos,<br />
            Pot, pot, pot, să am caracter frumos,<br />
            Pot, pot, pot, luminând în jurul meu<br />
            Să-L vadă-n mine toți pe Dumnezeu :/ <br />
            <br />
            Dacă vreun coleg la școală m-a jignit,<br />
            Eu nu îi răspund cu-același fel,<br />
            Îi zâmbesc și-i spun frumos să fi iubit<br />
            Și-ncerc să mă împrietenesc cu el<br />
            <br />
            Tot ce fac în viață-i prin puterea Lui,<br />
            El îmi dăruiește dimineți,<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim incurajare vara">
        <button class="accordion">27. Pas cu pas, zi de zi</button>
        <div class="panel">
          <p>
            /: Pas cu pas, zi de zi<br />
            Cu Isus noi mergem bucuroși pe drum<br />
            Pas cu pas, zi de zi<br />
            Isus e calea către cer. :/ <br />
            <br />
            El e adevărul<br />
            Îl urmăm doar pe Isus<br />
            Oricât de greu e drumul<br />
            El ne va duce sus<br />
            <br />
            Singuri nu vom merge<br />
            El mereu cu noi va fi<br />
            Oriunde ne va duce<br />
            Vrem și noi cu El să fim<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim incurajare vara">
        <button class="accordion">28. Domnul mă păzește</button>
        <div class="panel">
          <p>
            Domnul mă păzește,<br />
            Oriunde aș fi<br />
            Domnul mă iubește,<br />
            Și-mi dă bucurii.<br />
            <br />
            Chiar de sunt singur nu mă tem<br />
            Căci Domnul e cu mine<br />
            El mă păzește de-orice rău,<br />
            Și Mâna Lui mi-ntinde.<br />
            <br />
            Domnul mă ajută,<br />
            Când eu zic că-i greu,<br />
            El îmi dă putere,<br />
            Știe gândul meu.<br />
            <br />
            Chiar de sunt singur nu mă tem<br />
            Căci Domnul e cu mine<br />
            El mă ajută când mi-e greu<br />
            Și Mâna Lui mi-ntinde.<br />
            <br />
            Domnul meu mă vede,<br />
            Când sunt întristat<br />
            Mâna-Și va atinge<br />
            Și sunt mângâiat.<br />
            <br />
            Chiar de sunt singur nu mă tem<br />
            Căci Domnul e cu mine<br />
            Știu că mă vede ochiul Său.<br />
            Și Mâna Lui mi-ntinde.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim cercetare vara">
        <button class="accordion">29. Isus e-n cer și El mă vede</button>
        <div class="panel">
          <p>
            Isus e-n cer și El mă vede<br />
            Nu pot să păcătuiesc,<br />
            Isus e-n cer și El mă vede<br />
            De El trebuie să mă tem.<br />
            <br />
            Ochii Lui văd tot pământul,<br />
            Nu pot să păcătuiesc<br />
            Ochii Lui văd tot pământul,<br />
            De El trebuie să mă tem!<br />
            <br />
            Isus din ceruri a venit<br />
            La Golgota El s-a jertfit<br />
            El de sub lege m-a scolariăpat<br />
            Pe veci ca să fiu iertat.<br />
            <br />
            Când voi ajunge-n ceruri sus<br />
            Voi fi în slavă cu Isus,<br />
            Cu îngerii Îi voi cânta<br />
            Pe veci doar: Aleluia!<br />
            15 /: Dă-i povara ta lui Isus<br />
            El o va purta :/ <br />
            <br />
            /: Şi înalţă tot mai sus înalţă<br />
            Şi înalţă numele lui Isus :/ <br />
            <br />
            /: Şi zdrobeşte pe satana<br />
            În picioare jos:/ <br />
            <br />
            /: Vin la Isus cu căință<br />
            El te va ierta. :/ <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim craciun incurajare">
        <button class="accordion">
          30. Îmi amintesc s-a născut pentru mine
        </button>
        <div class="panel">
          <p>
            Îmi amintesc s-a născut pentru mine.<br />
            Nicicând înapoi nu voi da. - 2 ori<br />
            <br />
            Refren: Nu, nu, nu, nu, nu.<br />
            Nicicând înapoi nu voi da. - 2 ori<br />
            <br />
            Îmi amintesc - a trăit ......<br />
            - a murit .....<br />
            - s-a nălţat .....<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim cercetare vara">
        <button class="accordion">31. O uşă numai una</button>
        <div class="panel">
          <p>
            O uşă, numai una, şi are două părţi<br />
            Înăuntru ori afară, unde te-afli tu? <br />
            O uşă, numai una, şi are două părţi<br />
            Eu sunt deja înăuntru, unde te-afli tu?<br />
            <br />
            O Carte numai una, Tatăl sfânt ne-a dat.<br />
            Sfânta Carte adevarată, pe toţi ne-a salvat.<br />
            O Carte numai una, Tatăl sfânt ne-a dat.<br />
            Vrei s-o crezi şi tu.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro gim incurajare vara">
        <button class="accordion">32. Domnul e bun</button>
        <div class="panel">
          <p>
            Domnul e bun, Domnul e bun, Domnul e bun,<br />
            El e bun cu mine.<br />
            <br />
            El a murit, El a murit, El a murit <br />
            Pentru al meu păcat.<br />
            <br />
            Liber sunt azi, liber sunt azi, liber sunt azi,<br />
            De mă-ncred în El.<br />
            <br />
            Domnul e bun,<br />
            El a murit,<br />
            Liber sunt azi<br />
            El cu mine-I bun.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro gim incurajare vara">
        <button class="accordion">33. Fii viteaz</button>
        <div class="panel">
          <p>
            Fii viteaz, fii viteaz,<br />
            Fii tare, fii tare,<br />
            Căci Domnul Dumnezeu<br />
            E cu tine mereu.<br />
            Nu am nici o frică, nu mă descurajez,<br />
            Căci eu stau în credinţă să biruiesc.<br />
            Hai să stăm în credinţă să biruim,<br />
            Căci Domnul, Dumnezeu e cu tine!<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari gim scriptura vara">
        <button class="accordion">34. O carte am în gând</button>
        <div class="panel">
          <p>
            O carte am în gând<br />
            Nu-i alta pe pământ<br />
            /:Ce viață-mi dă când citesc în ea,<br />
            E cartea Biblia:/<br />
            <br />
            Din Biblie citesc<br />
            Cum trebuie să trăiesc<br />
            /:Curat și sfânt în fapt și gând<br />
            Pe Domnul lăudând:/<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari lauda vara">
        <button class="accordion">35. Măreț ești Dumnezeul meu</button>
        <div class="panel">
          <p>
            /: Măreţ eşti Dumnezeul meu<br />
            Al meu suflet se bucură de-a Ta prezenţă<br />
            Măreţ eşti Dumnezeul meu<br />
            Al meu suflet te laudă mereu<br />
            Măreţia Ta pe noi ne-a cuprins<br />
            În al Tău nume Hristos moartea a învins<br />
            Îndurarea Ta-i peste noi mereu<br />
            /: Măreţ eşti Dumnezeul :/ :/ <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari lauda vara">
        <button class="accordion">
          36. Doamne noi copiii Te-nălțăm prin cânt
        </button>
        <div class="panel">
          <p>
            /: Doamne noi copiii Te-nălțăm prin cânt<br />
            Și mărim în lume Numele Tău sfânt :/ <br />
            <br />
            /: Laude și cinste prin cântări Îți dăm<br />
            Doamne, Domnul slavei, noi Te lăudăm :/ <br />
            <br />
            /: Crește-ne credința ca să te-ascultăm<br />
            Gura ne-o sfințește slavă să Îți dăm :/ <br />
            <br />
            /: Tu ești Tatăl nostru, noi ai Tăi suntem<br />
            Și-orice daruri bune de la Tine-avem :/ <br />
            <br />
            /: Mulțumim de toate câte tu ne-ai dat<br />
            Fi prin cântul nostru Doamne lăudat :/<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari multumire vara">
        <button class="accordion">37. Pentru soare-Ţi mulţumim</button>
        <div class="panel">
          <p>
            Pentru soare-Ţi mulţumim,<br />
            Pentru lumina cerului senin<br />
            Îţi mulţumim şi pentru albele culori<br />
            Că ele plouă pe ogor.<br />
            <br />
            Îţi mulţumim şi Te slăvim<br />
            Că tot ce-i bun în dar primim<br />
            Îţi mulţumim şi Te mărim<br />
            Doamne Isuse-Ţi mulţumim<br />
            <br />
            Pentru stele-Ţi mulţumim<br />
            Că luminează noaptea când dormim<br />
            Îţi mulţumim şi pentru pacea Ta<br />
            Ce ne mângâie inima.<br />
            <br />
            Pentru apă-Ţi mulţumim<br />
            Ea ne adapă fără să plătim<br />
            Îţi mulţumim că aerul curat<br />
            E-aşa de bun de respirat<br />
            <br />
            Pentru tot ce-n dar primim<br />
            Doamne Isuse vrem să-Ţi mulţumim<br />
            Îţi mulţumim că veşnic ne iubeşti<br />
            Şi sus în ceruri ne primeşti.<br />
          </p>
        </div>
      </div>

      <div class="filterDiv ro scolari cercetare vara">
        <button class="accordion">
          38. Poţi să fii şi tu un copil care să te rogi
        </button>
        <div class="panel">
          <p>
            Poţi să fii şi tu un copil care să te rogi /x4<br />
            /: Să te pleci în genunchi,să ridici privirea-n sus<br />
            Şi să vii cu umilinţă înaintea lui Isus! :/ <br />
            <br />
            Poţi să fii şi tu un copil care să asculţi /x4<br />
            /: De părinţi şi de bunici,de fraţi şi de surori<br />
            Şi Domnului Isus să-I fii ascultător :/ <br />
            <br />
            Poţi să fii şi tu un copil care să ajuţi /x4<br />
            /: Să hrăneşti pe cel flămând,să îmbraci pe cel sărac<br />
            Şi să-ndrepţi la mântuire pe cei ce merg înspre iad:/ <br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari rugaciune vara">
        <button class="accordion">39. Roagă-te dimineaţa</button>
        <div class="panel">
          <p>
            1. Roagă-te dimineaţa, roagă-te şi la prânz.<br />
            Roagă-te pe-nserate, roagă-te orişicând<br />
            <br />
            2. Citeşte .....<br />
            3. Fă bine ....<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari scriptura vara">
        <button class="accordion">40. Citeşte Biblia, roagă-te mereu</button>
        <div class="panel">
          <p>
            (Varianta 1)<br />
            Citeşte Biblia, roagă-te mereu, roagă-te mereu, roagă-te mereu.<br />
            Citeşte Biblia roagă-te mereu, dacă vrei să creşti.<br />
            <br />
            (Varianta 2)<br />
            Citește Biblia în fiecare zi, în fiecare zi, in fiecare zi,<br />
            Citește Biblia în fiecare zi,<br />
            Dacă vrei să crești!<br />
            <br />
            Roagă-te în fiecare zi, în fiecare zi, în fiecare zi,<br />
            Roagă-te în fiecare zi,<br />
            Dacă vrei să crești.<br />
            <br />
            Ascultă în fiecare zi, în fiecare zi, în fiecare zi,<br />
            Ascultă în fiecare zi,<br />
            Dacă vrei să crești.<br />
          </p>
        </div>
      </div>
      <div class="filterDiv ro scolari dragoste vara">
        <button class="accordion">41. Mare este marea</button>
        <div class="panel">
          <p>
            Mare este marea,<br />
            Înalt este cerul de sus.<br />
            Dar mai mare ca toate e,<br />
            Iubirea lui Isus;<br />
            <br />
            Eu sunt un nevrednic,<br />
            El pentru mine a murit,<br />
            Sfântul Cuvânt,<br />
            Mie-mi spune mereu<br />
            Domnul m-a iubit.<br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">42.O be careful little eyes</button>
        <div class="panel">
          <p>
            O be careful little eyes what you see, <br />
            O be careful little eyes what you see, <br />
            For the Father up above is looking down in love, <br />
            So be careful little eyes what you see. <br />
            <br />
            O be careful little ears what you hear ... <br />
            <br />
            O be careful little tongue what you say …<br />
            <br />
            O be careful little hands what you do ... <br />
            <br />
            O be careful little feet where you go ... <br />
            <br />
            O be careful little heart whom you trust ... <br />
            <br />
            O be careful little mind what you think ... <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">43.Jesus loves the little ones</button>
        <div class="panel">
          <p>
            Jesus loves the little ones like me, me, me. <br />
            Jesus loves the little ones like me, me, me. <br />
            Little ones like me sat upon His knee, <br />
            Jesus loves the little ones like me, me, me. <br />
            Jesus loves the little ones like you, you, you. <br />
            Jesus loves the little ones like you, you, you. <br />
            Little ones like you, saves them through and through, <br />
            Jesus loves the little ones like you, you, you. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">44. If you’re happy</button>
        <div class="panel">
          <p>
            If you’re happy and you know it, clap your hands, <br />
            If you’re happy and you know it, clap your hands, <br />
            If you’re happy and you know it, then your face will surely show it.
            <br />
            If you’re happy and you know it, clap your hands. <br />
            <br />
            If you’re happy and you know it, stamp your feet, <br />
            If you’re happy and you know it, stamp your feet, <br />
            If you’re happy and you know it, then your face will surely show it.
            <br />
            If you’re happy and you know it, stamp your feet. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">
          45.My God is so big, so strong and so mighty
        </button>
        <div class="panel">
          <p>
            My God is so big, so strong and so mighty, <br />
            There’s nothing my God cannot do. <br />
            My God is so big, so strong and so mighty, <br />
            There’s nothing my God cannot do. <br />
            The mountains are His, the valleys are His, <br />
            The stars are His handiwork too. <br />
            My God is so big, so strong and so mighty, <br />
            There’s nothing my God cannot do. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">
          46. I am the way, the truth and the life
        </button>
        <div class="panel">
          <p>
            “I am the way, the truth and the life”, that’s what Jesus said.
            <br />
            “I am the way, the truth and the life”, that’s what Jesus said.
            <br />
            Without the way there is no going, without the truth there is no
            knowing, <br />
            Without the life there is no growing. <br />
            “I am the way, the truth and the life”, that’s what Jesus said.
            <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">47. Joy, joy my heart is full of joy</button>
        <div class="panel">
          <p>
            Joy, joy my heart is full of joy, <br />
            Joy, joy my heart is full of joy. <br />
            My Saviour dear is ever near, <br />
            that’s the reason why my heart is full of joy. <br />
            <br />
            Peace, peace my heart is full of peace, <br />
            Peace, peace my heart is full of peace, <br />
            My Saviour dear is ever near, <br />
            that’s the reason why my heart is full of peace. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">
          48. He has made me glad, He has made me glad
        </button>
        <div class="panel">
          <p>
            He has made me glad, He has made me glad. <br />
            I will rejoice for He has made me glad. <br />
            He has made me glad, He has made me glad. <br />
            I will rejoice for He has made me glad. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">
          49. He’s got the whole world in His hands
        </button>
        <div class="panel">
          <p>
            He’s got the whole world in His hands, (4 times) <br />
            <br />
            He’s got you and me in His hands, (4 times) <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">50. The Lord is so good</button>
        <div class="panel">
          <p>
            The Lord is so good, the Lord is so good, <br />
            The Lord is so good, He’s so good to me. <br />
            <br />
            He died for me, He died for me, <br />
            He died for me, on Calvary. <br />
            <br />
            Now I am free, Now I am free, <br />
            Now I am free, He’s so good to me. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">51.Wide, wide as the ocean</button>
        <div class="panel">
          <p>
            Wide, wide as the ocean, <br />
            High as the heavens above. <br />
            Deep, deep as the deepest sea, <br />
            Is my Saviour’s love. <br />
            I though so unworthy, <br />
            Still I’m a child of His care. <br />
            For His Word teaches me<br />
            That His love reaches me, everywhere. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">52.Read your Bible, pray every day</button>
        <div class="panel">
          <p>
            Read your Bible, pray every day, <br />
            Pray every day, pray every day. <br />
            Read your Bible, pray every day<br />
            If you want to grow. <br />
            If you want to grow, If you want to grow. <br />
            Read your Bible pray every day<br />
            If you want to grow. <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">53.One door and only one</button>
        <div class="panel">
          <p>
            One door, and only one, and yet its sides are two, <br />
            “Inside” and “outside”, on which side are you? <br />
            One door, and only one, and yet its sides are two, <br />
            I’m on the inside, on which side are you? <br />
            <br />
            One Lord, and only one, and yet the ways are two, <br />
            “Right way” and “wrong way”, on which side are you? <br />
            One Lord, and only one, and yet the ways are two, <br />
            I’m on the right way, on which way are you? <br />
            <br />
            One Book, and only one, which tells of places two, <br />
            “Good place” and “bad place”, oh, which place choose you? <br />
            One Book and only one, which tells of places two, <br />
            I choose the good place, and which place choose you?
            <br />
          </p>
        </div>
      </div>

      <div class="filterDiv eng">
        <button class="accordion">54.One way God said to get to heaven</button>
        <div class="panel">
          <p>
            One way God said to get to heaven, <br />
            Jesus is the only way. <br />
            One way to reach those pearly mansions, <br />
            Jesus is the only way. <br />
            No other way, no other way, <br />
            No other way to go. <br />
            One way God said to get to heaven <br />
            Jesus is the only way. <br />
          </p>
        </div>
      </div>

      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }

        filterSelection("all");

        function filterSelection(c) {
          var x, i;
          x = document.getElementsByClassName("filterDiv");
          if (c == "all") c = "";
          for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
          }
        }

        function w3AddClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
              element.className += " " + arr2[i];
            }
          }
        }

        function w3RemoveClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
              arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
          }
          element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("box");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }
      </script>
    </div>
  </body>
</html>
