h1 {
  font-size: 64px;
  font-weight: 120;
}

h3 {
  font-weight: 100;
  font-size: 32px;
  font-family: "Kalam";
}

h2 {
  font-size: var(--step-3);
  color: #000;
  font-family: "Kalam";
}

p {
  font-family: "Kalam";
}

.formular {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input_edit {
  height: 30px;
  width: 50%;
}

.input_descriere {
  height: 30px;
  width: 80%;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.553);
  border: 1px solid #ff1dce;
}

input {
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.553);
  border: 1px solid #ff1dce;
}

input:active {
  border: 2px solid black;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  a {
    color: black;
  }
  h1 {
    font-size: var(--step-4);
  }
  h2 {
    font-size: var(--step-2);
    color: #000;
    font-family: "Kalam";
  }
  h3 {
    font-size: var(--step-0);
    color: #000;
    font-family: "Kalam";
  }
  p {
    font-size: var(--step-1);
    color: #000;
    font-family: "Kalam";
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
