<div class="navigatie" style="gap: 17vh">
  <a href="resurse"> <i class="gg-arrow-left"></i></a>
  <h1 style="animation-name: fade; animation-duration: 3s">Competitii</h1>
</div>
<app-your-component> </app-your-component>
<!-- <div class="formular">
  <h4>Aici veti putea adauga lectii noi:</h4>
  <input
    style="width: 150px"
    type="text"
    id="categorie1"
    onclick="this.value=''"
    value="Codul de admin"
    placeholder="Codul de admin"
  />
  <br />
  <div class="input">
    <p>titlul:</p>
    <input class="input_edit" type="text" maxlength="255" placeholder="Titlu" />
    <p>Descriere:</p>
    <form>
      <textarea>Descrie</textarea>
    </form>
  </div>
</div> -->
<hr />

<h2 style="margin: 5px; padding: 10px">Sorteaza</h2>

<div class="sort">
  <!-- <div class="box">
            <h3>Romana</h3>
        </div>
        <div class="box">
            <h3>Engleza</h3>
        </div>
        <div class="box">
            <h3>Lauda</h3>
        </div>
        <div class="box">
            <h3>Cerere</h3>
        </div>
        <div class="box">
            <h3>Cercetare</h3>
        </div>
        <div class="box">
            <h3>Prescolari</h3>
        </div>
        <div class="box">
            <h3>Scolari</h3>
        </div>
        <div class="box">
            <h3>Gimnaziu</h3>
        </div> -->

  <button class="box" onclick="">Afara</button>
  <button class="box" onclick="">Int(Statii)</button>
  <button class="box" onclick="">Prescolari</button>
  <button class="box" onclick="">Scolari</button>
  <button class="box" onclick="">Gimnaziu</button>
</div>

<div>
  <h1 style="color: black">Va urma...</h1>
</div>
