<!DOCTYPE html>
<html>
  <!-- ctrl + d -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cinzel"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merienda"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Prata&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="navigatie" style="gap: 17vh">
      <a href="resurse.html"> <i class="gg-arrow-left"></i></a>
      <h1 style="animation-name: fade; animation-duration: 3s">Competitii</h1>
    </div>
    <hr />

    <h2 style="margin: 5px; padding: 10px">Sorteaza</h2>

    <div class="sort">
      <!-- <div class="box">
            <h3>Romana</h3>
        </div>
        <div class="box">
            <h3>Engleza</h3>
        </div>
        <div class="box">
            <h3>Lauda</h3>
        </div>
        <div class="box">
            <h3>Cerere</h3>
        </div>
        <div class="box">
            <h3>Cercetare</h3>
        </div>
        <div class="box">
            <h3>Prescolari</h3>
        </div>
        <div class="box">
            <h3>Scolari</h3>
        </div>
        <div class="box">
            <h3>Gimnaziu</h3>
        </div> -->

      <button class="box" onclick="">Afara</button>
      <button class="box" onclick="">Int(Statii)</button>
      <button class="box" onclick="">Prescolari</button>
      <button class="box" onclick="">Scolari</button>
      <button class="box" onclick="">Gimnaziu</button>
    </div>

    <div class="resurse">
      <h1 style="color: black">Va urma...</h1>
    </div>
  </body>
</html>
