body,
html {
  height: 100%;
  margin: 0;
  /* font-family: "Cinzel"; */
  font-family: "Indie Flower", sans-serif;
  font-size: var(--step-0);
  overflow-x: hidden;
  background-color: #d9d9d6;
  color: black;
  background: linear-gradient(
    180deg,
    rgba(183, 132, 183, 1) 19%,
    rgba(228, 147, 179, 1) 62%,
    rgba(238, 165, 166, 1) 87%
  );
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  animation-duration: 2s;
  animation-name: fadeIn;
}

:root {
  --step--2: clamp(0.48rem, 0.2347rem + 1.2264vi, 1.1852rem);
  --step--1: clamp(0.6rem, 0.3449rem + 1.2754vi, 1.3333rem);
  --step-0: clamp(0.75rem, 0.4891rem + 1.3043vi, 1.5rem);
  --step-1: clamp(0.9375rem, 0.6766rem + 1.3043vi, 1.6875rem);
  --step-2: clamp(1.1719rem, 0.9192rem + 1.2636vi, 1.8984rem);
  --step-3: clamp(1.4648rem, 1.2315rem + 1.1668vi, 2.1357rem);
  --step-4: clamp(1.8311rem, 1.6322rem + 0.9942vi, 2.4027rem);
  --step-5: clamp(2.6888rem, 2.5447rem + 0.8204vi, 2.903rem);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: max-content;
}

.resurse,
.despre,
.ajutor {
  height: 400px;
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.2);
  margin: 2px solid white;
  width: 370px;
}

.resurse {
  background-color: #e8a0bf;
}

.despre {
  background-color: #c0dbea;
}

.ajutor {
  background-color: #ba90c6;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: grid;
  place-items: center;
  margin: max(2vh, 0.5rem) 0.5rem;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.sageata_responsive {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.background-alb {
  margin-top: max(13vh, 1rem) 2.5rem;
  height: 800px;
  text-align: center;
}

.title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  animation-duration: 1s;
  animation-name: fadeIn;
  padding-top: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35vh;
  height: max-content;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  border-left: 5px solid #8e7ab5;
  margin: 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: black;
}

.accordion {
  background-color: #cccccc2d;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 3px solid #8e7ab5;
  border-radius: 5px;
}

.active,
.accordion:hover {
  background-color: #cccccc2d;
}

.filterDiv {
  /* float: left; */
  display: none;
}

.show {
  display: block;
}

.sort {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 0.5vw;
  margin: 5px;
  padding-bottom: 10px;
  padding-left: 120px;
}

.resurses {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding: 0px 120px 40px 120px;
  /* height: 410px; */
  overflow-x: hidden;
}

/* h1 {
  font-size: var(--step-4);
  font-weight: 220;
  font-family: "Indie Flower", sans-serif;
}

h2,
h3 {
  font-weight: 80;
  font-size: var(--step-1);
  font-family: "Kalam";
}

p {
  font-size: 20px;
  font-family: "Kalam";
}

h4 {
  font-family: "Kalam";
  font-size: 12px;
} */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  animation-duration: 3s;
  animation-name: fadeIn;
}

.navigatie {
  display: flex;
  flex-direction: row;
  gap: 19vh;
  text-align: center;
  color: black;
  padding: 0px;
  animation-name: fade;
  animation-duration: 2s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

* {
  box-sizing: border-box;
}

/* ============================= */

.space {
  height: 100px;
  display: flex;
}

a:link,
a:visited {
  color: none;
  background-color: none;
  text-decoration: none;
  text-transform: none;
  position: none;
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
  text-transform: none;
  position: none;
  color: rgb(57, 55, 55);
}

img.img {
  animation: fadeIn 5s;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36);
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 66);
}

.no-responsive {
  display: none;
}

.hidden1,
.hidden2,
.hidden3,
.hidden4 {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.7s;
}

.hidden1 {
  transform: translateX(-100%);
}

.hidden2 {
  transform: translateX(100%);
}

.hidden3 {
  transform: translateY(100%);
}

.hidden4 {
  transform: translateY(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body,
  html {
    height: 100%;
    margin: 0;
    /* font-family: "Indie Flower", sans-serif; */
    overflow-x: hidden;
    background: rgb(253, 244, 245);
    background: linear-gradient(
      180deg,
      rgba(253, 244, 245, 1) 19%,
      rgba(229, 206, 237, 1) 50%,
      rgba(235, 159, 191, 1) 83%
    );
    color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    animation-duration: 0.5s;
    animation-name: fadeIn;
  }
  .poza {
    height: fit-content;
    width: fit-content;
  }
  * {
    box-sizing: border-box;
  }
  .title {
    padding: max(33vh, 3rem) 5rem;
    /* padding-right: max(3vh, 1rem) 2.5rem;
        padding-top: max(13vh, 1rem) 2.5rem;
        padding-bottom: max(13vh, 1rem) 2.5rem; */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26vh;
    height: max-content;
    padding: max(7vh, 2.5rem) 3.5rem;
  }
  .padding {
    padding-top: 15px;
  }
  .resurse,
  .despre,
  .ajutor {
    height: 400px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.2);
    margin: 2px solid white;
    width: 300px;
  }
  .resurse {
    background-color: #e8a0bf;
  }
  .despre {
    background-color: #c0dbea;
  }
  .ajutor {
    background-color: #ba90c6;
  }
  .responsive {
    display: none;
  }
  .sageata_responsive {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .arrow {
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(36, 36, 36);
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66);
  }
  .sageata_no-responsive {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .background-alb {
    height: 820px;
    text-align: center;
  }
  hr {
    height: 2px;
    background-color: rgba(0, 0, 0, 0);
    margin: 2px solid black;
    min-width: 600px;
  }
  .hr1 {
    min-width: auto;
    height: 2px;
    border-radius: 15%;
    color: #ffdbaa;
    background-color: #ffdbaa;
  }
  .sort {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: scroll;
    justify-content: space-between;
    gap: 1.5vw;
    margin: 5px;
    padding-bottom: 10px;
    padding-left: 0px;
    /* padding: 5px; */
  }
  .resurses {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 20px 20px 20px 20px;
    /* height: 410px; */
    overflow-x: scroll;
  }
  .gg-arrow-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 32px;
    height: 55px;
  }
  .gg-arrow-left::after,
  .gg-arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 14px;
  }
  .gg-arrow-left::after {
    width: 18px;
    height: 18px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px;
    left: 25px;
  }
  .gg-arrow-left::before {
    width: 46px;
    height: 2px;
    bottom: 15px;
    left: 22px;
    background: currentColor;
  }
  /* h1 {
    font-size: var(--step-5);
    font-weight: 220;
    font-family: "Indie Flower", sans-serif;
  }
  h2,
  h3 {
    font-weight: 80;
    font-size: var(--step-4);
    font-family: "Kalam";
  }
  p {
    font-size: var(--step-2);
    font-family: "Kalam";
  }
  h4 {
    font-family: "Kalam";
    font-size: 12px;
  } */
}
